@model BTL_Finance.Models.Request
@{
    Layout = "~/Views/Shared/_Layout_Us.cshtml";
}
<h2 class="text-center my-4">Request Details</h2>

<div class="container">
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4>Request</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Request Name</dt>
                <dd class="col-sm-8">@Model.Request_Name</dd>

                <dt class="col-sm-4">Process</dt>
                <dd class="col-sm-8">@Model.process</dd>

                <dt class="col-sm-4">Type</dt>
                <dd class="col-sm-8">@Model.Type</dd>

                <dt class="col-sm-4">Client Name</dt>
                <dd class="col-sm-8">@Model.ClientName</dd>

                <dt class="col-sm-4">Company Name</dt>
                <dd class="col-sm-8">@Model.CompanyName</dd>

                <dt class="col-sm-4">Email</dt>
                <dd class="col-sm-8">@Model.Email</dd>

                <dt class="col-sm-4">Mobile</dt>
                <dd class="col-sm-8">@Model.Mobile</dd>

                <dt class="col-sm-4">Channel</dt>
                <dd class="col-sm-8">@Model.Channel</dd>

                <dt class="col-sm-4">Attachment Path</dt>
                <dd class="col-sm-8"><a href="@Url.Action("ServeFile", "Request", new { filePath = Model.AttachmentPath })" target="_blank">View In Browser</a></dd>

                <dt class="col-sm-4">Status Request</dt>
                <dd class="col-sm-8">@Model.Status_Request</dd>

                <dt class="col-sm-4">Status Order Sheet</dt>
                <dd class="col-sm-8">@Model.Status_order_sheet</dd>

                <dt class="col-sm-4">Status Delivery Note</dt>
                <dd class="col-sm-8">@Model.Status_Delivery_Note</dd>

                <dt class="col-sm-4">Status PO</dt>
                <dd class="col-sm-8">@Model.Status_PO</dd>

                <dt class="col-sm-4">Status Quote</dt>
                <dd class="col-sm-8">@Model.Status_Quote</dd>

                <dt class="col-sm-4">Status Invoice</dt>
                <dd class="col-sm-8">@Model.Status_Invoice</dd>
            </dl>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">
            <h4>Order Sheets</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var orderSheet in Model.OrderSheets)
                {
                    <li class="list-group-item">Attachment Path: <a href="@Url.Action("ServeFile", "Request", new { filePath = orderSheet.AttachmentPath })" target="_blank">View In Browser</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-info text-white">
            <h4>Quotes</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var quote in Model.Quotes)
                {
                    <li class="list-group-item">Number: @quote.QNumber</li>
                    <li class="list-group-item">Attachment Path: <a href="@Url.Action("ServeFile", "Request", new { filePath = quote.AttachmentPath })" target="_blank">View In Browser</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white">
            <h4>Purchase Orders</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var purchaseOrder in Model.PurchaseOrders)
                {
                    <li class="list-group-item">Number: @purchaseOrder.PONumber</li>
                    <li class="list-group-item">Attachment Path:  <a href="@Url.Action("ServeFile", "Request", new { filePath = purchaseOrder.AttachmentPath })" target="_blank">View In Browser</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-danger text-white">
            <h4>Delivery Notes</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var deliveryNote in Model.DeliveryNotes)
                {
                    <li class="list-group-item">Number: @deliveryNote.DNNumber</li>
                    <li class="list-group-item">Attachment Path:  <a href="@Url.Action("ServeFile", "Request", new { filePath = deliveryNote.AttachmentPath })" target="_blank">View In Browser</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-secondary text-white">
            <h4>Invoices</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                @foreach (var invoice in Model.Invoices)
                {
                    <li class="list-group-item">Number: @invoice.InvoiceNumber</li>
                    <li class="list-group-item">Attachment Path:  <a href="@Url.Action("ServeFile", "Request", new { filePath = invoice.AttachmentPath })" target="_blank">View In Browser</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<p class="mt-3 text-center">
    <a asp-action="Home" asp-controller="Home" class="btn btn-primary">Back to List</a>
</p>
